*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
header{
  background-color: #3160E0;
  padding: 10px 0;
}
body{
  font-family: sans-serif;
}
/* layout classes */
.header-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
  align-items: center;
}


.col-20{
  width: 20%;
}

.col-60{
  width: 60%;
}

header ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  
}

/* utilities */
header ul li{
  color: white;
  margin-right: 0 15px;
}

.text-right{
  text-align: right;
}

.accedi{
  background-color: white;
  padding: 10px 15px;
  border-radius: 40px;
}

/* top content */
.bg-img {
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 710px;
    background-repeat: no-repeat;
}

.top-container{
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
}

.top-btns{
  display: flex;
}

.download{
  margin-right: 20px; 
  background-color: white;
  padding: 15px;
  border-radius: 40px;
}

.title{
  align-items: center;
  padding: 50px;
  color: white;
  font-size: 60px;
}

.context{
  color: white;
  font-size: 23px;
  padding-bottom: 20px;
  line-height: 2rem;
}

.top-btns{
  justify-content: center;
  font-size: 23px;
}

.dc-browser{
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 40px;
}
/* channel */

.bg-white{
  background-color: white;
}
.channel-container{
  margin: 0 auto;
  max-width: 1200px;
}

.channels{
  display: flex;
  flex-wrap: nowrap;
  padding: 100px 0px;
  align-items: center;
}

.channel-img{
  width: 60%;
  padding: 0 50px;
}

.channel-context{
  width: 40%;
  padding: 0 50px;
}

.channel-title{
  font-size: 42px;
  padding-bottom: 40px ;
}

.channel-description{
  font-size: 22px;
}

.divider{
  aspect-ratio: 2828/200;
  background-repeat: no-repeat;
  background-size: cover;
}

.wave1{
  background-image: url(./img/wave-haikei\ \(1\).svg);
}

.wave2{
  background-image: url(./img/wave-haikei\ \(2\).svg);
}
/* voice channel */

.bg-gray{
  background-color: #f6f6f6;
}
.voice-chat{
  margin: 0 auto;
  max-width: 1200px;
}

.vc-container{
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  align-items: center;
}

.vc-context{
  width: 40%;
  padding: 0 50px;
}

.vc-title{
  font-size: 42px;
  padding-bottom: 40px;
}

.vc-desc{
  font-size: 22px;
}

.vc-image{
  width: 60%;
  padding: 0 50px;
}

/* roles */
.roles{
  max-width: 1200px;
  margin: 0 auto;
}

.role-container{
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
  align-items: center;
}

.role-img{
  width: 60%;
  padding-right: 50px;
}

.role-context{
  width: 40%;
  padding-left: 50px;
}

.role-title{
  font-size: 42px;
  padding-bottom: 40px;
}

.role-desc{
  font-size: 22px;
}