*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
header{
  background-color: #255EE9;
  padding: 10px 0;
}
body{
  font-family: sans-serif;
}

/* layout classes */
.header-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
  align-items: center;
}


.col-20{
  width: 20%;
}

.col-60{
  width: 60%;
}

header ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  
}

/* utilities */
header ul li{
  color: white;
  margin-right: 0 15px;
}

.text-right{
  text-align: right;
}

.accedi{
  background-color: white;
  padding: 10px 15px;
  border-radius: 40px;
}

/* top content */
.bg-img {
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 710px;
    background-repeat: no-repeat;
}

.top-container{
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
}

.top-btns{
  display: flex;
}

.download{
  margin-right: 20px; 
  background-color: white;
  padding: 15px;
  border-radius: 40px;
}

.title{
  align-items: center;
  padding: 50px;
  color: white;
  font-size: 60px;
}

.context{
  color: white;
  font-size: 23px;
  padding-bottom: 20px;
  line-height: 2rem;
}

.top-btns{
  justify-content: center;
  font-size: 23px;
}

.dc-browser{
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 40px;
}
/* channel */

.bg-white{
  background-color: white;
}
.channel-container{
  margin: 0 auto;
  max-width: 1200px;
}

.channels{
  display: flex;
  flex-wrap: nowrap;
  padding: 100px 0px;
  align-items: center;
}

.channel-img{
  width: 60%;
  padding: 0 50px;
}

.channel-context{
  width: 40%;
  padding: 0 50px;
}

.channel-title{
  font-size: 42px;
  padding-bottom: 40px ;
}

.channel-description{
  font-size: 22px;
}

.divider{
  aspect-ratio: 2828/200;
  background-repeat: no-repeat;
  background-size: cover;
}

.wave1, .wave3{
  background-image: url(./img/wave-haikei\ \(1\).svg);
}

.wave2{
  background-image: url(./img/wave-haikei\ \(2\).svg);
}
/* voice channel */

.bg-gray{
  background-color: #f6f6f6;
}
.voice-chat{
  margin: 0 auto;
  max-width: 1200px;
}

.vc-container{
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  align-items: center;
}

.vc-context{
  width: 40%;
  padding: 0 50px;
}

.vc-title{
  font-size: 42px;
  padding-bottom: 40px;
}

.vc-desc{
  font-size: 22px;
}

.vc-image{
  width: 60%;
  padding: 0 50px;
}

/* roles */
.roles{
  max-width: 1200px;
  margin: 0 auto;
}

.role-container{
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
  align-items: center;
}

.role-img{
  width: 60%;
  padding-right: 50px;
}

.role-context{
  width: 40%;
  padding-left: 50px;
}

.role-title{
  font-size: 42px;
  padding-bottom: 40px;
}

.role-desc{
  font-size: 22px;
}

/* postscipt */

.postscript{
  margin: 0 auto;
  max-width: 880px;
}

.postscript-container{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postcript-title{
  font-size: 42px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.postscript-desc{
  font-size: 18px;
  text-align: center;
  line-height: 35px;
}

.ready{
  padding-top: 50px;
  padding-bottom: 20px;
}

.download-btn{
  font-size: 23px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: #8AA1E0;
  color: white;
  margin-bottom: 150px;
}

footer{
  background-color: #23272A;
}


.top-footer{
  margin: 0 auto;
  max-width: 1200px;
}

.footer-container{
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
}

.socials{
  width: 40%;
}
.language .ita-img{
  max-width: 4%;
  height: auto;
}

.language, .icons{
  color: white;
}

.footer-title{
  color: #758DD7;
  padding-bottom: 5px;
}

footer ul{
  list-style-type: none;
}

footer ul li{
color: white;
line-height: 30px;
}

.icons{
  padding: 15px 0;
}

.icons i{
  margin-right: 20px;
}

.bottom-footer{
  max-width: 1200px;
  margin: 0 auto;
}

.bottom-footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 80px;
  border-top: 0.1px solid #758DD7;
}

.register{
  background-color: #758DD7;
  color: white;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 20px;
}